{% extends 'base.html' %}

{% block titulo %}
Lista Animes
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 py-20">
    <!-- Seção de Animes Recentes --> 
    <div class="flex items-center justify-between mb-4 px-20">
        <h2 class="text-3xl font-semibold border-b-2 border-solid border-blue-500">Animes</h2>
        <div>
            <form method="get" action="{% url 'anime:animes' %}">
                {% csrf_token %}
                <label for="genero">Gênero:</label>
                <select class="bg-gray-800" name="genero" id="genero">
                    <option value="">Todos</option>
                    {% for value, label in generos %}
                        <option value="{{ value }}" {% if value == genero_filtrado %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            
                <label for="tipo">Tipo:</label>
                <select class="bg-gray-800" name="tipo" id="tipo">
                    <option value="">Todos</option>
                    {% for value, label in tipos %}
                        <option value="{{ value }}" {% if value == tipo_filtrado %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
                </select>
            
                <label for="ano">Ano:</label>
                <select class="bg-gray-800" name="ano" id="ano">
                    <option value="">Todos</option>
                    {% for year in anos %}
                        <option value="{{ year.year }}" {% if year.year == ano_filtrado %}selected{% endif %}>{{ year.year }}</option>
                    {% endfor %}
                </select>
            
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md">Filtrar</button>
            </form>                        
        </div>
    </div>
    <!-- Seção de Animes Filtrados -->
    <div class="flex flex-wrap gap-4 justify-center">
        {% for anime in object_list %}
            <div class="p-4 rounded-md w-full sm:w-1/2 lg:w-1/6">
                <a href="{% url 'anime:detalhesAnime' anime.id %}">
                    <img src="{{ anime.thumb.url }}" alt="{{ anime.titulo }}" class="w-full h-auto object-cover mb-2 rounded-md">
                </a>
                <h3 class="text-lg font-semibold text-center">
                    <a href="{% url 'anime:detalhesAnime' anime.id %}" class="text-blue-500 hover:no-underline focus:no-underline">{{ anime.titulo }}</a>
                </h3>
                <p class="text-xs text-gray-500 mt-2 text-center">Classificação: {{ anime.classificacao }}<br> Temporada: {{ anime.temporada }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
