{% extends 'base.html' %}

{% block titulo %}
Calendario
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 py-20">
    <div class="flex items-center justify-center mb-4 px-20">
        <h2 class="text-3xl font-semibold border-b-2 border-solid border-blue-500">Calendário de Animes</h2>
    </div>
    
   <!-- Lista horizontal dos dias da semana -->
    <div class="flex space-x-4 justify-center">
        {% for dia, animes in animes_por_dia.items %}
            <a href="{% url 'anime:calendario' %}?dia={{ dia }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue inline-block">{{ dia }}</a>
        {% endfor %}
    </div>


    <div class="flex flex-wrap gap-4 justify-center">
        {% for anime in lista_animes_emalta %}
            
        {% endfor %}
    </div>

    <!-- Animes correspondentes ao dia selecionado -->
    <div class="flex flex-wrap gap-4 justify-center">
        {% if animes_selecionados %}
            {% for anime in animes_selecionados %}
                <div class="p-4 rounded-md w-full sm:w-1/2 lg:w-1/6">
                    <a href="{% url 'anime:detalhesAnime' anime.id %}">
                        <img src="{{ anime.thumb.url }}" alt="{{ anime.titulo }}" class="w-full h-auto object-cover mb-2 rounded-md">
                    </a>
                    <h3 class="text-lg font-semibold text-center">
                        <a href="{% url 'anime:detalhesAnime' anime.id %}" class="text-blue-500 hover:no-underline focus:no-underline">{{ anime.titulo }}</a>
                    </h3>
                    <p class="text-xs text-gray-500 mt-2 text-center">Classificação: {{ anime.classificacao }}<br> Temporada: {{ anime.temporada }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Selecione um dia para ver os animes correspondentes.</p>
        {% endif %}
    </div>
</div>


{% endblock %}
