{% extends 'base.html' %}

{% block titulo %}
{{object}}
{% endblock %}

{% block content %}
<section class="w-full flex py-20 ">
    <div class="w-4/12">
        <img src="{{ object.thumb.url }}" alt="capa-anime">
    </div>
    <div class="w-8/12 ">
        <h1>{{ object.titulo }}</h1>
        {% for genero in object.generos.all %}
        {{ genero }}
        {% endfor %}
        <p>Classificação: {{ object.classificacao }} anos</p>
        <p>Distribuidora{{ object.distribuidora }}</p>
        <p>{{ object.data_criacao }}</p>
    </div>
</section>
<h1>Episodios</h1>
{% for episodio in object.episodios.all %}
<a href=""><p>{{ episodio }}</p></a>
{% endfor %}

<div class="py-10">
    <h1>Animes Relacionados</h1>
    {% for anime in animes_relacionados %}
    <p>
        <a href="{% url 'anime:detalhesAnime' anime.id %}">{{ anime.titulo }}</a>
    </p>
    {% endfor %}
</div>
    

{% endblock %}