{% extends 'base.html' %}
{% block titulo %}
{{ object.titulo }}
{% endblock %}
{% block content %}  
<div class="container mx-auto mt-8 py-20">
    <div class="flex flex-col md:flex-row gap-5">
        <div class="relative">
            <img src="{{ object.thumb.url }}" alt="{{ object.titulo }}" class="w-auto h-auto mb-4 rounded-md shadow-md">
            <form method="post" action="{% url 'anime:marcar_visto' %}" id="marcar_visto_form">
                {% csrf_token %}
                <input type="hidden" name="anime_id" value="{{ object.id }}">
                <button type="submit" class="hidden" id="marcar_visto_button"></button>
            </form>
            
            <i id="icone_marcar_visto" class="{% if object in usuario.animes_vistos.all %}fas text-green-500{% else %}far cursor-pointer{% endif %} fa-eye mx-2"
            title="Marcar como visualizado"
            onclick="marcarDesmarcarVisto();">
            </i>
            
            <i class="{% if object in usuario.assistindo.all %}fas text-green-500{% else %}far{% endif %} fa-play-circle mx-2" title="Marcar como assistindo"></i>
            <i class="{% if object in usuario.assistir_depois.all %}fas text-green-500{% else %}far{% endif %} fa-clock mx-2" title="Adicionar para assistir depois"></i>
        </div>
        
        <div class="flex-1">
            <h2 class="text-3xl font-semibold mb-4">{{ object.titulo }}</h2>
            <p class="text-gray-400 mb-2">Distribuidora: {{ object.distribuidora }}</p>
            <p class="text-gray-400 mb-2">Tipo: {{ object.tipo }}</p>
            <p class="text-gray-400 mb-2">Gênero:{% for genero in object.generos.all %} {{ genero }} {% endfor %}</p>
            <p class="text-gray-400 mb-2">Temporada: {{ object.temporada }}</p>
            <p class="text-gray-400 mb-2">Classificação: {{ object.classificacao }}</p>
            <p class="text-gray-400 mb-2">Visualizações: {{ object.visualizacoes }}</p>
            <p class="text-gray-400 mb-2">Data de Criação: {{ object.data_criacao|date:"Y" }}</p>
            <br>
        </div>
    </div>
    <h3 class="text-2xl">Sinopse</h3>
    <p class="text-gray-500 mt-4">{{ object.sinopse }}</p>
    <div class="mt-8">
        <h2 class="text-3xl font-semibold mb-4">Episódios</h2>
        {% if object.episodios.all %}
            <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
                {% for episodio in object.episodios.all %}
                    <li class="bg-gray-800 p-4 rounded-md">
                        <a href="{{ episodio.video }}"><img src="{{ episodio.thumb_episodio.url }}" alt="{{ episodio.titulo }}" class="w-full h-40 object-cover mb-2 rounded-md"></a>
                        <a href="{{ episodio.video }}"><h3 class="text-lg font-semibold">{{ episodio.titulo }}</h3></a>
                        <p>{{ episodio.video.url }}</p>
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="text-gray-500">Nenhum episódio disponível.</p>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var icone = document.getElementById('icone_marcar_visto');
        var botao = document.getElementById('marcar_visto_button');
        var estaAssistido = localStorage.getItem('anime_assistido_{{ object.id }}');

        if (estaAssistido === 'true') {
            icone.classList.add('text-green-500');
        }

        function marcarDesmarcarVisto() {
            icone.classList.toggle('text-green-500');
            localStorage.setItem('anime_assistido_{{ object.id }}', icone.classList.contains('text-green-500'));
            botao.click();
        }
        icone.addEventListener('click', marcarDesmarcarVisto);
    });
</script>
{% endblock %}
