{% extends 'base.html' %}

{% block titulo %}
Lista de Gêneros
{% endblock %}

{% block content %}
<div class="container mx-auto mt-8 py-20">
    <div class="flex items-center justify-between mb-4 px-20">
        <h2 class="text-3xl font-semibold border-b-2 border-solid border-blue-500">Escolha um gênero</h2>
    </div>
    <div class="flex flex-wrap gap-4 justify-center">
        {% for genero in generos %}
            <div class="w-full sm:w-1/2 lg:w-1/4">
                <button class="bg-gray-800 p-4 rounded-md w-full">
                    <h3 class="text-lg font-semibold text-center text-white"><a href="{% url 'anime:lista_por_genero' genero.0 %}">{{ genero.1 }}</a></h3>
                </button>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
