{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block titulo %}
Cadastro
{% endblock %}

{% block content %}
<div class="container mx-auto flex items-center justify-center h-screen">
    <form class="bg-gray-800 shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-lg" method="post">
        {% csrf_token %}
        <div class="text-3xl font-semibold mb-4 text-center">
            Login
        </div>
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        
        <div class="flex items-center justify-center mb-6">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Entrar
            </button>
        </div>
        <div class="text-center text-gray-500">
            Não possui uma conta? <a href="{% url 'anime:cadastrar' %}" class="text-blue-500 hover:underline">crie uma</a>.
        </div>
    </form>
</div>
{% endblock %}

