{% load static %}

<nav class="w-full flex justify-between items-center py-3 px-4 fixed top-0 z-50 bg-gray-900 text-white">
    <div class="w-7/12 flex items-center justify-between">
        <div class="w-2/12">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="logo-site">
            </a>
        </div>    
        <div class="w-5/12">
            <ul class="flex justify-between">
                <li>
                    <a href="#">Lista Animes</a>
                </li>
                <li>
                    <a href="#">Temporadas</a>
                </li>
                <li>
                    <a href="#">Generos</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="w-5/12 flex flex-nowrap justify-end items-center relative">
        <div class="mr-4 text-2xl">
            <ion-icon name="notifications-outline"></ion-icon>
        </div>
        <div class="mr-4 text-2xl">
            <ion-icon name="albums-outline"></ion-icon>
        </div>
        <div class="mr-4">
            <form method="get" action="{% url 'anime:pesquisaAnime' %}">
                <input type="text" placeholder="Pesquisar... " class="py-1 px-2 rounded-md text-black" name="q" value="{{ request.GET.q }}">
                <input type="submit" value=""> 
                <ion-icon name="search-outline"></ion-icon>
            </form>
        </div>
        
        <div class="mr-4 text-4xl cursor-pointer" id="userIcon">
            <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        
        <!-- Lista de opções do usuário -->
        <div id="userOptions" class="hidden absolute right-0 top-full mt-3 bg-gray-900 p-2 text-white z-50">
            <div>
                <ul>
                    <li class="login-option">
                        <a href="#">
                            <h2>Criar Conta</h2>
                            <p>Torne-se parte da nossa equipe</p>
                        </a>
                    </li>
                    <li class="login-option">
                        <a href="#">
                            <h2>Login</h2>
                            <p>Já faz parte da equipe? Bem-vindo de volta!</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Overlay -->
<div id="overlay" class="hidden fixed inset-0 bg-black opacity-50 z-40"></div>

<script>
    // Adiciona um evento de clique ao ícone do usuário
    document.getElementById('userIcon').addEventListener('click', function(e) {
        e.stopPropagation(); // Impede que o clique se propague para o documento

        // Alterna a visibilidade da lista de opções do usuário
        var userOptions = document.getElementById('userOptions');
        userOptions.classList.toggle('hidden');

        // Alterna a visibilidade do overlay
        var overlay = document.getElementById('overlay');
        overlay.classList.toggle('hidden');
    });

    // Fecha o menu do usuário e o overlay ao clicar fora do menu
    document.addEventListener('click', function() {
        var userOptions = document.getElementById('userOptions');
        var overlay = document.getElementById('overlay');
        
        if (!userOptions.classList.contains('hidden')) {
            userOptions.classList.add('hidden');
            overlay.classList.add('hidden');
        }
    });

    // Adiciona eventos de mouseover e mouseout para mudar a cor de fundo ao passar o mouse sobre as opções de login
    var loginOptions = document.querySelectorAll('.login-option');

    loginOptions.forEach(function(option) {
        option.addEventListener('mouseover', function() {
            this.classList.add('bg-gray-700');
        });

        option.addEventListener('mouseout', function() {
            this.classList.remove('bg-gray-700');
        });
    });
</script>
